<header>
  <nav>
    <a href="/" class="logo">
      <svg class="child-icon-large" style="width: 2rem; height: 2rem;" aria-label="Plante">
        <use href="/images/icons.svg#icon-plant"></use>
      </svg>
      Cours Vivantes
    </a>
    <ul class="nav-links">
      <li><a href="/" class="<%= activeNav === 'accueil' ? 'active' : '' %>">Accueil</a></li>
      <li><a href="/a-propos" class="<%= activeNav === 'a-propos' ? 'active' : '' %>">À propos</a></li>
      <li><a href="/projets" class="<%= activeNav === 'projets' ? 'active' : '' %>">Nos projets</a></li>
      <li><a href="/contact" class="<%= activeNav === 'contact' ? 'active' : '' %>">Contact</a></li>
    </ul>
  </nav>
</header>
