<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <meta name="description" content="Collectif Cours Vivantes - Professionnels de la nature pour le réenchantement des cours d'école et aires de jeu">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🌱</text></svg>">
</head>
<body>
  <%- include('partials/header') %>
  
  <main>
    <%- body %>
  </main>
  
  <%- include('partials/footer') %>
  
  <script src="/js/main.js"></script>
</body>
</html>
